data
results/processed_md_features/
*.xtc
*.trr
*.tpr
*.gro
*.pdb
__pycache__/
.ipynb_checkpoints/
.nextflow
designs
features
figures
inputs
logs
proteindj
proteindj_runs
results
.nextflow.log
configs
envs
boltzgen/.github
boltzgen/assets
boltzgen/slurm-example
boltzgen/src
boltzgen/test
boltzgen/
