# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
envs/
.venv/
venv/

# Nextflow
.nextflow/
.nextflow.log
work/

# MD trajectories
*.xtc
*.trr
*.tng

# Gromacs runtime
*.edr
*.log
*.cpt

# Large structure outputs
results/md_feature_analysis
proteindj_runs/
designs/generated/
features/generated/
boltzgen
proteindj
data

# HPC logs
logs/

# HuggingFace / cache
cache/
hf_cache/

# Temporary files
*.tmp
*.bak
.DS_Store
.env
*.env