params {

    /*
     * Basic run settings
     */
    design_mode = 'monomer_partialdiff'
    input_pdb = "${System.getenv('HOME')}/ba_nylon/inputs/nylc_AB.pdb"

    num_designs = 20
    seqs_per_design = 4

    out_dir = "/work/${System.getenv('USER')}/proteindj_runs/nylc_test"

    /*
     * Tools
     */
    seq_method = 'mpnn'
    pred_method = 'boltz'

    /*
     * RFdiffusion settings
     * Low-noise partial diffusion keeps the NylC fold mostly intact
     * while allowing local structural variation.
     */
    design_length = "330-340"
    rfd_partial_diffusion_timesteps = 10
    rfd_noise_scale = 0.3

    /*
     * Keep cysteine out initially.
     * This avoids unwanted disulfides in early exploratory designs.
     */
    mpnn_omitAAs = 'CX'
    mpnn_temperature = 0.1

    /*
     * Small pilot run:
     * Do not over-filter at the beginning.
     */
    rank_designs = true
    max_designs = 20
    max_seqs_per_fold = 2

    /*
     * Resource settings
     */
    gpu_queue = 'c23g'
    gpu_model = 'hopper'
    gpus = 1
    cpus_per_gpu = 8
    cpus = 16
    memory_gpu = '64 GB'
    memory_cpu = '32 GB'
}
profiles {
    rwth {
        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = "/work/${System.getenv('USER')}/cache/apptainer"
        }

        process {
            executor = 'slurm'
            queue = 'c23ms'

            withLabel: 'gpu' {
                queue = 'c23g'
                clusterOptions = '--gres=gpu:hopper:1'
                cpus = 8
                memory = '64 GB'
                time = '04:00:00'
            }

            withLabel: 'RFDiffusion' {
                queue = 'c23g'
                clusterOptions = '--gres=gpu:hopper:1'
                cpus = 8
                memory = '64 GB'
                time = '04:00:00'
            }

            withLabel: 'Boltz' {
                queue = 'c23g'
                clusterOptions = '--gres=gpu:hopper:1'
                cpus = 8
                memory = '64 GB'
                time = '04:00:00'
            }

            withLabel: 'MPNN' {
                queue = 'c23ms'
                cpus = 16
                memory = '32 GB'
                time = '02:00:00'
            }

            withLabel: 'python_tools' {
                queue = 'c23ms'
                cpus = 4
                memory = '16 GB'
                time = '01:00:00'
            }

            withLabel: 'pyrosetta_tools' {
                queue = 'c23ms'
                cpus = 8
                memory = '32 GB'
                time = '02:00:00'
            }
        }
    }
}